.datafilter {
  margin-left: 15vw;
  align-self: end;
  label {
    margin-right: 0.5vw;
  }
  input {
    margin-right: 4vw;
  }

  button {
    margin-right: 2vw;
    width: 15vw;
  }

  img {
    position: relative;
    top: 8px;
    width: 24px;
    height: 30px;
  }
}
